In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<p style = "font-size: 13px; color: mediumvioletred; text-align: right" > September 2024

<p style = "font-size: 22px; color: mediumvioletred; text-align: center" > being feminine in the AI world

<p style = "font-size: 16px; color: mediumvioletred; text-align: center" > by Irina Nedyalkova

Is there place for femininity in the AI world or is it a 15 minutes thing? We do feminine melting, reshaping individuality from a wide format to a long format. Pardon, short format. One is for sure, I can not express myself in 15, 10 or 5 minutes. It has been required to fold my entire cosmos in a tiny origami. Never went well. To do things fast is a men quality, they are great at this! Women need a liiittle more time to unroll. We have perfection, when both personalities fuse, and a mess, when we try to adapt something that is not adaptable.

After 2 job interviews at tech companies, I just start feeling like a robot. "There are 1000 people working for us in the Bulgarian office." Oh! Eventually, I would be the 1001. Double Oh! "There are not executives on place, just one." Trioh!

> “The factory of the future will have only two employees, a man and a dog. The man will be there to feed the dog. The dog will be there to keep the man off from touching the machines.” Warren G. Bennis

This Bulgarian office reminds me of 1000 thousand machines and a dog. Doesn't feel good.

Warren G. Bennis was one of the world's leading experts on leadership, consultant and writer. He has been an advisor to four U.S. presidents, including John F. Kennedy and Ronald Reagan. Artificial Intelligence has been around in various forms since the English mathematician Alan Turing gave a lecture on the subject in 1947 and Warren Bennis predicted the XXI century in 1991.

> "Too many companies believe people are interchangeable. Truly gifted people never are. They have unique talents. Such people cannot be forced into roles they are not suited for, nor should they be. Effective leaders allow great people to do the work they were born to do." Organizing Genius: The Secrets of Creative Collaboration, Warren G. Bennis

I still want to find my place in the tech world. I am curious about! Personally, living among wood and paper, but listening my whole life to techno music, finding peace in the deepest sound of bass. So, where do I find peace in the tech world?

Due to the World Health Organization, infertility is a disease of the male or female reproductive system, defined by the failure to achieve a pregnancy after 12 months or more of regular unprotected sexual intercourse, 1 in 6 people is globally affected. Confusion occurs in the laws of nature when placing women in a dude-like environment (if they do not belong there) and men, following a forewoman's orders (if they do not belong there). We are speaking from lifeforce energy and vitality. Our bodies never lie! If we have some itchy emotions, we are at the wrong place.

According to SingleCare’s infertility survey, 25% of couples do not know the cause of their fertility problems. Most, or all, researches are made around the question: How infertility affects the person and the professional system he/she is part of? But let us reverse the question: Is the professional environment, the cause of the infertility? Do our bodies feel in the right place and safe enough to create new life?

The data, I present, belongs to the National Center for Health Statistics of the United States Government:

In [3]:
tables = pd.read_html(r"https://www.cdc.gov/nchs/nsfg/key_statistics/i-keystat.htm#infertility")

There are 11 tables, I will choose some of them.

In [4]:
pd.set_option("display.max_colwidth", None) 
tables[0]["Unnamed: 0_level_0"]

                                                                                                                                                                                                                        Unnamed: 0_level_1
0  Percentage and number of women 15-49 years of age (of all marital statuses) who have impaired fecundity (i.e., who are not surgically sterile, and for whom it is difficult or impossible to get pregnant or carry a pregnancy to term)

In [5]:
tables[0].columns

MultiIndex([('Unnamed: 0_level_0',     'Unnamed: 0_level_1'),
            (         '2015-2019',   'Percent (SE), Number'),
            (         '2015-2019', 'Percent (SE), Number.1')],
           )

In [6]:
tables[0]["2015-2019"]

       Percent (SE), Number  Percent (SE), Number.1
0  13.4 (0.41), 9.7 million                     NaN

In [7]:
table1 = pd.DataFrame({"name of numbers in 2015-2019": ["Percentage and number of women 15-49 years of age (of all marital statuses) who have impaired fecundity (i.e., who are not surgically sterile, and for whom it is difficult or impossible to get pregnant or carry a pregnancy to term"],
              "in percents": [13.4], "in millions": [9.7]})

Above, the first table.

In [8]:
tables[2]

                                                                                Unnamed: 0_level_0  \
                                                                                Unnamed: 0_level_1
0  Percentage and number of currently married women 15-49 years of age who have impaired fecundity

                  2015-2019
       Percent (SE), Number Percent (SE), Number.1
0  16.3 (0.73), 4.7 million                    NaN

In [9]:
tables[2].columns

MultiIndex([('Unnamed: 0_level_0',     'Unnamed: 0_level_1'),
            (         '2015-2019',   'Percent (SE), Number'),
            (         '2015-2019', 'Percent (SE), Number.1')],
           )

In [10]:
tables[2]["Unnamed: 0_level_0"]

                                                                                Unnamed: 0_level_1
0  Percentage and number of currently married women 15-49 years of age who have impaired fecundity

In [11]:
tables[2]["2015-2019"]

       Percent (SE), Number  Percent (SE), Number.1
0  16.3 (0.73), 4.7 million                     NaN

In [12]:
table2 = pd.DataFrame({"name of numbers in 2015-2019": ["Percentage and number of currently married women 15-49 years of age who have impaired fecundity"],
              "in percents": [16.3], "in millions": [4.7]})

Above, the second table.

In [13]:
tables[4]

                                                                                                                                                                                                                      Unnamed: 0_level_0  \
                                                                                                                                                                                                                      Unnamed: 0_level_1
0  Percentage and number of currently married women 15-49 years of age who are infertile (i.e., who are not surgically sterile, and have had at least 12 consecutive months of unprotected sexual intercourse without becoming pregnant)

                 2015-2019
      Percent (SE), Number Percent (SE), Number.1
0  8.5 (0.65), 2.4 million                    NaN

In [14]:
tables[4].columns

MultiIndex([('Unnamed: 0_level_0',     'Unnamed: 0_level_1'),
            (         '2015-2019',   'Percent (SE), Number'),
            (         '2015-2019', 'Percent (SE), Number.1')],
           )

In [15]:
tables[4]["Unnamed: 0_level_0"]

                                                                                                                                                                                                                      Unnamed: 0_level_1
0  Percentage and number of currently married women 15-49 years of age who are infertile (i.e., who are not surgically sterile, and have had at least 12 consecutive months of unprotected sexual intercourse without becoming pregnant)

In [16]:
tables[4]["2015-2019"]

      Percent (SE), Number  Percent (SE), Number.1
0  8.5 (0.65), 2.4 million                     NaN

In [17]:
table3 = pd.DataFrame({"name of numbers in 2015-2019": ["Percentage and number of currently married women 15-49 years of age who are infertile (i.e., who are not surgically sterile, and have had at least 12 consecutive months of unprotected sexual intercourse without becoming pregnant)"],
              "in percents": [8.5], "in millions": [2.4]})

Above, the third table.

In [18]:
table1

,name of numbers in 2015-2019,in percents,in millions
0,"Percentage and number of women 15-49 years of age (of all marital statuses) who have impaired fecundity (i.e., who are not surgically sterile, and for whom it is difficult or impossible to get pregnant or carry a pregnancy to term",13.4,9.7

In [19]:
table2

,name of numbers in 2015-2019,in percents,in millions
0,Percentage and number of currently married women 15-49 years of age who have impaired fecundity,16.3,4.7

In [20]:
table3

,name of numbers in 2015-2019,in percents,in millions
0,"Percentage and number of currently married women 15-49 years of age who are infertile (i.e., who are not surgically sterile, and have had at least 12 consecutive months of unprotected sexual intercourse without becoming pregnant)",8.5,2.4

I need more data and different kind of data, this is not enough.

<p style="text-align: left; color: gray"> ...more will follow soon

References:
1. Data: https://www.cdc.gov/nchs/nsfg/key_statistics/i-keystat.htm#infertility
2. SingleCare’s infertility survey: https://www.singlecare.com/blog/news/infertility-survey/